USE [master]
GO
/****** Object:  Database [Java5]    Script Date: 11/2/2020 21:26:00 ******/
CREATE DATABASE [Java5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Java5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Java5.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Java5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Java5_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Java5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Java5]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 11/2/2020 21:26:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Majors](
	[id] [nchar](10) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Majors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Majors] ([id], [name]) VALUES (N'1         ', N'Hello')
INSERT [dbo].[Majors] ([id], [name]) VALUES (N'2         ', N'Hi')
USE [master]
GO
